env/Lib/site-packages/cv2/cv2.pyd
env/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.lib
env/Lib/site-packages/clang/native/libclang.dll
env/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd